@import '../../assets/variables.scss';

.header {
    display: flex;
    align-items: center;
    padding: 30px 30px;
    justify-content: space-between;
    .logo {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .menu {
        ul {
            display: flex;
            li {
                margin-left: 30px;
            }
        }

    }
}